@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
.App {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.App-header {

background-color: #FFC130 ;
width: 100vw;
}

.App-header h1{
  display: inline-block;
  font-size : 1.5rem;
  line-height: 0.5rem ;
  font-family: 'Cabin', sans-serif;
}


